{% extends "layout.html" %}
{% block title %}Huolto{% endblock %}
{% block content %}
<h2>Huolto</h2>
<form action="/add_service" method="POST" onsubmit="return check(this)">
Laite id: <input type="text" name="device_id">
<p>
Huolto päivä: <input type="date" name="service_date">
<p>
Kuvaus: </br>
<textarea name="description" rows=4 cols="50"></textarea>
<p>
<input type="submit" value="Lisää huolto">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>Laitteet:</p>
<ul>
{% for device in devices %}
<li> Id: {{ device[0] }}, {{ device[2] }}
{% endfor %}
</ul>

<p>Huollot:</p>
<ul>
{% for service in services %}
<li> Laitetyyppi: {{ service[1] }}, laite: {{ service[0] }}. {{ service[2] }}, huoltopäivä: {{ service[3].strftime("%d.%m.%Y") }}, huollon kuvaus: {{ service[4] }}
{% endfor %}
</ul>

<script>
function check(form) {
    if(form.device_id.value.length < 1 || form.description.value.length < 1) {
        alert("Täytä kaikki kentät")
        return false;
    }
    if (form.description.value.length > 300) {
        alert("Liian pitkä kuvaus, sallittu maksimipituus on 300 merkkiä.");
        return false;
    }    
    return true;
    }
</script>
{% endblock %}
