{% extends "layout.html" %}
{% block title %}Laitteet{% endblock %}
{% block content %}
<h2>Laitteet</h2>
<p>Lisää laite</p>
<form action="/add_device" method="POST" onsubmit="return check(this)">
Tyyppi: <input type="text" name="device_type">
<p>
Malli: <input type="text" name="model">
<p>
Kuvaus: <input type="text" name="description"> 
<p>
<input type="submit" value="Lisää laite"> 
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>Laitteet:</p>
<ul>
{% for device in devices %}
<li> Id: {{ device[0] }}, {{ device[2] }}
{% endfor %}
</ul>
<script>
function check(form) {
    if(form.device_type.value.length > 50 || form.device_type.value.length < 1) {
        alert("Tyyppi on oltava 1-50 merkkiä pitkä")
        return false;
    }
    if (form.model.value.length > 50 || form.model.value.length < 1) {
        alert("Malli on oltava 1-50 merkkiä pitkä");
        return false;
    }
    if (form.description.value.length > 300) {
        alert("Kuvaus on liian pitkä");
        return false;
    }
    return true;
}
</script>
{% endblock %}
