<title>Vuokraus</title>
<h1>Vuokraa laite</h1>
<form action="/add_rent" method="POST" onsubmit="return check(this)">
Laite id: <input type="text" name="device_id">
<p>
Asiakas id: <input type="text" name="customer_id">
<p>
Vuokra alkaa: <input type="date" name="start_date">
Vuokra päättyy: <input type="date" name="end_date"> </br> </br>
<input type="submit" value="Vuokraa laite">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<script>
function check(form) {
    if (form.device_id.value > 100000 || form.device_id.value == "" {
        alert("Tarkista laite id");
        return false;
    }
    if (form.customer_id.value > 100000 || form.customer_id.value == "" {
        alert("Tarkista asiakas id");
        return false;
    }
    if (form.start_date.value == "") {
        alert("Valiltse vuokran aloitus ja lopetuspäivä.")
        return false;
    }    
    return true;
}
</script>

<p>Laitteet:</p>
<ul>
{% for device in devices %}
<li> Id: {{ device[0] }}, {{ device[2] }}
{% endfor %}
</ul>
<p>Asiakkaat:</p>
<ul>
{% for customer in customers %}
<li> Id: {{ customer[2] }}. Nimi: {{ customer[0] }} &nbsp &nbsp Sähköposti: {{ customer[1] }}
{% endfor %}
</ul>
<a href="/main_page">Etusivulle</a> </br> 
<a href="/customer"> Lisää asiakas</a> </br>
<a href="/devices">Lisää laite</a> </br>
<a href="/rents">Vuokraa laite</a> </br>
<a href="/services">Lisää huolto</a> </br>
<a href="/logout">Kirjaudu ulos</a> </br> 
