{% extends "layout.html" %}
{% block title %}Vuokraus{% endblock %}
{% block content %}
<h2>Vuokraa laite</h2>
<form action="/add_rent" method="POST" onsubmit="return check(this)">
Laite id: <input type="text" name="device_id">
<p>
Asiakas id: <input type="text" name="customer_id">
<p>
Vuokra alkaa: <input type="date" name="start_date">
Vuokra päättyy: <input type="date" name="end_date"> </br> </br>
<input type="submit" value="Vuokraa laite">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<p>Vuokraukset:</p>
<ul>
{% for rent in rents %}
<li> Vuokra-aika: {{ rent[2].strftime("%d.%m.%Y") }}-{{ rent[3].strftime("%d.%m.%Y") }} &nbsp Asiakas: {{ rent[0] }}  &nbsp Asiakkaan sähköposti: {{ rent[1] }} &nbsp Laite: {{ rent[5] }}. {{ rent[4] }}
{% endfor %}
</ul>
<script>
function check(form) {
    if (form.device_id.value > 100000 || form.device_id.value == "" {
        alert("Tarkista laite id");
        return false;
    }
    if (form.customer_id.value > 100000 || form.customer_id.value == "" {
        alert("Tarkista asiakas id");
        return false;
    }
    if (form.start_date.value == "") {
        alert("Valiltse vuokran aloitus ja lopetuspäivä.")
        return false;
    }    
    return true;
}
</script>

<p>Laitteet:</p>
<ul>
{% for device in devices %}
<li> Id: {{ device[0] }}, {{ device[2] }}
{% endfor %}
</ul>
<p>Asiakkaat:</p>
<ul>
{% for customer in customers %}
<li> Id: {{ customer[2] }}. Nimi: {{ customer[0] }} &nbsp &nbsp Sähköposti: {{ customer[1] }}
{% endfor %}
</ul>
{% endblock %}
